div {
    height: 300px;
    width: 300px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
}

#eyes1 {
    height: 50px;
    width: 50px;
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    left: 70px;
}

#eyes2 {
    height: 50px;
    width: 50px;
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    left: 190px;
}

#mouth {
    height: 80px;
    width: 150px;
    background-color: red;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 170px;
    left: 80px;
}