* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: #1b74e7;
}

#searchbtn {
    color: white;
    background-color: black;
}

.userbtn {
    background-color: aqua;
}