h1 {
    text-align: center;
    /* text-decoration */
    text-decoration: underline;
    /* Use for spacing */
    letter-spacing: 20px;
}

h2 {
    text-align: center;
    text-decoration: magenta line-through;
    /* use for font sizez */
    font-size: 25px;
}

p {
    text-align: center;
}

button {
    color: #cadcf2;
    background-color: #1b222e;
    /* text-decoration */
    text-decoration: line-through;
}